.content {
    width: 100%;
    padding: 15px 20px;
}
.practice-content {
    min-height: 85vh;
}
.practice-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}
.practice-wrap .header-text ,
.practice-wrap code {
    width: 100%;
}
.practice-wrap code {
    display: block;
    margin: 10px auto 20px;
    font: 400 17px 'Open Sans', Arial, sans-serif;
}
.practice-task>span {    
    font-size: 18px;
}
.practice-task button {
    width: 100%;
}
.practice-drag {
    position: relative;
    flex-direction: column;
    align-items: center;
}
.practice-drag .header-text {
    position: relative;
    max-width: 80%;
    padding: 0 40px;
    font-weight: 700;
}
.header-text::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
}
.correct {
    color: var(--cor-color);
}
.incorrect {
    color: var(--incor-color);
}
.correct::before {
    background: url(../img/correct.svg) 50%/100% no-repeat;
}
.incorrect::before {
    background: url(../img/incorrect.svg) 50%/90% no-repeat;
}
.practice-drag>span {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 14px;
}
.drag-wrap {
    text-align: left;
    user-select: none;
}
.drag-wrap span {
    display: inline-block;
    min-width: 80px;
    height: 27px;
    margin-top: 0 !important;
    margin-bottom: 5px;
    border: 1px solid #eb582cd1;
    border-radius: 2px;
    vertical-align: middle;
    background-color: #fdf0f0;
}
.drag-wrap i {
    display: inline-block;
    margin: 5px 0 5px 5px;
    font-style: normal;
}
.drag-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    width: 80%;
    min-height: 90px;
    margin: 20px 0 0;
    padding: 8px;
    border: 1px solid #eb582cd1;
    border-radius: 4px;
    background-color: #fdf0f0;
}
.drag-panel-empty {
    position: relative;
    padding-bottom: 32px;
    border-color: var(--err-color);
}
.drag-panel-empty::after {
    position: absolute;
    content: 'Выберите значение';
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fafafa;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: var(--err-color);
}
.drag-panel b,
.drag-wrap b {
    display: block;
    min-width: 80px;
    max-height: 28px;
    padding: 3px;
    border-radius: 2px;
    color: #fafafa;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    background-color: var(--main-color);
    cursor: grab;
}
.drag-wrap b[draggable="false"] {
    cursor: default;
}
.drag-wrap .dragging {
    border: 2px dashed var(--main-color);
}
.drag-panel b.drag-checked {
    background-color: #9f02c6;
}
.practice-btn-wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
}
/* Media queries */
@media (max-width: 768px) {
    .content {
        padding: 5px 10px;
    }
    .practice-drag {
        padding-bottom: 25px;
    }
    .correct::before,
    .incorrect::before {
        left: -4px;
        background-size: 17px;
    }
    .practice-drag .header-text {
        max-width: 100%;
        padding: 0 20px;
    }
    .practice-drag>span {
        top: auto;
        bottom: 0;
        right: 0;
    }
}
@media (max-width: 425px) {
    .practice-content {
        padding: 5px;
    }
    .practice-task>span {
        font-size: 17px;
    }
    .practice-drag .header-text {
        font-size: 16px;
    }
    .drag-panel {
        width: 100%;
    }
}